{% extends "base.html" %}
{% block body %}
    <script>
        $(document).ready(function() {
            var data = [];
            {% for equipment_id, data in schedule.items %}
                {% for d in data %}
                    data.push({"start": "{{ d.start|date:"n/j/Y G:i:00" }}",
                                "end": "{{ d.end|date:"n/j/Y G:i:00" }}",
                                "task":"{{ equipment_id }}",
                                "order_id": {{ d.order_id}} ,
                                "real_start": "{{ d.real_start|date:"d.m.Y G:i:00"}}" ,
                                "real_end": "{{ d.real_end|date:"d.m.Y G:i:00"}}" ,
                                "amount":{{ d.amount}} });
                {% endfor %}
            {% endfor %}

            var colorScale = new Plottable.Scales.Color();
            colorScale.range([].concat(... new Array(500).fill(['#1F77B4', '#FF7F0E', '#2CA02C', '#D62728', '#9467BD', '#8C564B', '#CFECF9', '#7F7F7F', '#BCBD22', '#17BECF'])));

            var xScale = new Plottable.Scales.Time();
            var xAxis = new Plottable.Axes.Time(xScale, "bottom");

            var yScale = new Plottable.Scales.Category();
            var yAxis = new Plottable.Axes.Category(yScale, "left");

            var plot = new Plottable.Plots.Rectangle()
                .x(function (d) {
                    return new Date(d.start);
                }, xScale)
                .x2(function (d) {
                    return new Date(d.end);
                })
                .y(function (d) {
                    return d.task;
                }, yScale)
                .attr("fill", function (d) {
                    return d.order_id;
                }, colorScale)
                .attr("class", function (d) {
                    return 'order';
                }).attr("data-toggle", function (d) {
                    return 'tooltip';
                }).attr("title", function (d) {
                    return d.order_id + " (amount: "+ d.amount +") "+ d.real_start + " - " + d.real_end;
                }).attr("order_id", function (d) {
                    return d.order_id;
                })
                .addDataset(new Plottable.Dataset(data));

            var chart = new Plottable.Components.Table([
                [yAxis, plot],
                [null, xAxis]
            ]);

            chart.renderTo("svg#example");

            $('.order').tooltip({
                            'container': 'body',
                            'placement': 'bottom'
                       });
            $('.order').on( "click", function() {
                var order_id = $(this).attr('order_id');
                window.location.href = "/order/"+order_id;
            });

        });
    </script>

    {{ block.super }}
    <div style="padding: 0 33px 30px;">
         <form>
          <div class="form-row align-items-center">
             <div class="col-auto">
              <select class="custom-select" name="equipment_class">
                  <option value="" {% if not equipment_class_id %}selected{% endif %}>Equipment class</option>
                  {% for equipment_class in equipment_classes %}
                      <option value="{{ equipment_class.id }}" {% if equipment_class.id|floatformat:"0" == equipment_class_id|floatformat:"0" %}selected{% endif %}>{{ equipment_class.name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="col-auto">
              <input id="datepicker" width="190" name="date" value="{{ filter_date|date:"d.m.Y" }}"/>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2" style="margin: 0 !important;">Show</button>
            </div>
          </div>
        </form>
    </div>


    <div style="height: {{ size }}px">
        <svg id="example"></svg>
    </div>
{% endblock %}